@import url('style.css');


/* 
  Header
*/
header .container .content{
	padding: 2em;
}
header .container .content ul li a{
	color: var(--bg-white);
	border-color: #ff82a7;
}
header .container .content{
	clip-path: none;
	background: rgba(0,0,0,0.4);
	color: var(--bg-white);
}
header .container .content .info{
	max-width: 100%;
}
header .container .content .info a{
	background:  #ff82a7;
	color: #fff; 
}
header .container .content nav{
	width: 100%;
}

header .container .content nav > :nth-child(1){
	display: none;
}
header .container .content nav > :nth-child(2){
	display: block;
}
header .container .content .info > :nth-child(1){
	display: none;
}
header .container .content .info > :nth-child(2){
	display: block;
}
header .container .content .info .btn{
	border: none;
}

.humburger{
	display: block;
}

.cross{
	display: block;
}
.cross i{
	font-size: 2rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
}
.cross i:hover{
scale: 1.1;
transition: 0.5s;
}
header .container .content nav ul{
	position: fixed;
	right: -5rem;
	top: 0;
	background-color: #ff82a7;
	height: 100%;
	z-index: 100;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	transition: 1s;
	width: 0%;
}

.active{
	right: 0 !important;
	width: 65% !important;
}

header .container .content nav ul a{
	font-size: 18px;
}
/* header .container .content nav ul li:hover{
	background-color: #fff;
	color
} */
header .container .content nav ul li a:hover{
	scale: 1.1;
	transition: .5s;
	color: #fff;

}
header .container .content nav ul .btn{
	border: none;
}
/*
Section-One
*/
#main-one{
	align-items: center;
}
#main-one > :nth-child(1){
	flex-direction: column-reverse;
	align-items: center;
}
#main-one > :nth-child(2){
	flex-direction: column;
	align-items: center;
}
#main-cards{
	padding: 7em 0px;
}
#main-cards .card{
	text-align: center;
	align-items: center; 
}
#main-cards .card img{
	padding-bottom: 7em;
}
#main-cards .card{
	width: 82%;
}


#main-cards .card a {
	background:  #ff82a7;
	color: #fff; 
	border: none;
}
#main-cards .card a:hover {
	scale: 1.1;
	transition: .5s;
}

/*
Section-Three
*/
#main-three .content p{
	padding: 0px 7em 2em 7em;
}
/*
Content-Section
*/
#content p{
	line-height: 2.5rem;
}

/*
Footer-Section
*/

footer .container > :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .container > :nth-child(1) div{
	width: 100% !important;
	text-align: center;
	padding-bottom: 3em;
	align-items: center !important;
}


@media only screen and (max-width: 350px) {
	header .container .content nav{
		
	}
	header .container .content .info p{
		font-size: 1.4rem;
	}
	#main-one{
		padding: 2em;
	}
	#content p{
		padding: 2em;
	}
	#main-cards .card p {
		font-size: 1.4rem;
	}
	#main-three .content p{
		padding: 0 2em;
		font-size: 1.4rem;
	}
	footer a{
		font-size: 1.2rem;
	}
}
